p {
  margin-top: 0;
  margin-bottom: 1rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

main {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 5%;
}

body {
  font-size: var (--bs-body-font-size);
  font-weight: var (--bs-body-font-weight);
  line-height: var (--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var (--bs-body-text-align);
  background-color: var(bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Nämä ovat Bootstrapin määrittelemät responsiivisuuden rajat (breakpointit), 
joiden avulla sivun ulkoasu muuttuu eri kokoisilla näytöillä. */
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

.navbar .nav-link:hover {
  color: #8800ff !important;
}

img {
  width: 100%;
}

.img-fluid {
  width: 50%;
}
/* Pokemonkuvan koko */
#kuva2 img {
  width: 150px;
}

/* Sääikonin koko */
.saaikoni {
  width: 150px;
  height: auto;
}
